# Python bytecode
__pycache__/
*.py[cod]

# Environment variables
.env

# Django database
.db.sqlite3
*.sqlite3-journal

# Django media/static
media/
staticfiles/

# Virtual environments
venv/
.venv/

# Django logs
*.log

# Django local settings
local_settings.py

# VSCode settings (optional, if you use VSCode)
.vscode/

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Egg info
*.egg-info/
*.egg 